.column {
  width: 16rem;
  background-color:rgb(178, 27, 153);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

